.parallaxify {
    height: 40em;
    margin: 0 -80px;
    margin-bottom: 2em;
}

.parallaxify__inner {
    position: relative;
    height: 40em;
    width: 100%;
    overflow: hidden;
}

.galaxy {
    background: red;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    overflow: visible;

    img {
        width: 110%;
    }
}

.world {
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.world__image {
    @include respond-min(45em) {
        margin-top: -10em;
    }
}
