.page {
    /*     width: 100%;
        height: 100%; */
    /*     top: 0;
left: 0; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    text-align: center;
    background: #0ac2d2;
    padding: 4em 0;
    color: #fff;
    //transform: translate3d(0, 100%, 0);
    opacity: 1;
    display: block;
    left: 100%;
    margin-bottom: 128px; // needs to be same height as footer

    &.page--is-visible {
        // transform: translate3d(0, 0, 0);

    }

    &.page--is-exiting,
    &.page--is-entering {
        /*         position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0; */
    }
}

.page--home {
    background: #f68dbb;
}

.page--about {
    background: #60d7a9;
}

.page--contact {
    background: #fdc162;
}
