.projects {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project {
    float: left;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    height: 368px;
    padding: 40px 30px;
}
